* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color reference codes*/
/*
-baby pink - #F2CCC3
-new york pink - #E78F8E
-misty rose - #FFE6E8
-celadon - #ACD8AA
-salmon pink - #F48498
*/

/* Navbar */
.icon-bar {
  width: 100%;
  background-color: #ffd9eb;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #ef027ccc;
}

.active {
  background-color: #f48498;
}

.search__bar {
  display: inline-block;
  border: ivory;
  margin: auto;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.8rem;
  height: 2rem;
  width: 15rem;
}

.fa-search {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  /* padding-top: 1rem; */
}
.search__bar:focus {
  outline: 3px solid #ef027ccc;
}

/* Body ----------------------------------------------*/
body {
  background-color: #acd8aa;
  background-image: url(img/blob-background-2.svg);
  background-repeat: no-repeat;
  width: 100%vw;
  min-height: 100%vh;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 4.5rem;
  font-family: Merienda one, sans-serif;
}

h1 {
  color: #ef027d;
  margin-top: 2rem;
}

p {
  text-align: center;
  font-family: quicksand;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.background__img__2 {
  width: 1400px;
  height: 600px;
  background-image: url("img/hero_cat.png");
  background-repeat: no-repeat;
  opacity: 90%;
  margin-top: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  box-shadow: 20px 20px 0 rgba(255, 0, 85, 0.3);
}

.index-title text,
.index-title i {
  font-size: 6rem;
  margin-top: 1.5rem;
}

.index-h2 {
  font-family: quicksand;
  text-align: center;
  margin-top: 5rem;
  color: #ef027d;
}

.adopt__button {
  -moz-box-shadow: inset 0px -2px 0px -7px #d4749f;
  -webkit-box-shadow: inset 0px -2px 0px -7px #d4749f;
  box-shadow: inset 0px -2px 0px -7px #d4749f;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f48499),
    color-stop(1, #ef027d)
  );
  background: -moz-linear-gradient(center top, #f48499 5%, #ef027d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48499', endColorstr='#ef027d');
  background-color: #f48499;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  height: 73px;
  line-height: 73px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #000802;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6rem;
}
.adopt__button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ef027d),
    color-stop(1, #f48499)
  );
  background: -moz-linear-gradient(center top, #ef027d 5%, #f48499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#f48499');
  background-color: #ef027d;
}
.adopt__button:active {
  position: relative;
  top: 1px;
}

/*-------CONTACT PAGE-----------------------------------------------*/

/* Contact Form */

.contact_p {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.card {
  width: 50%;

  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(255, 0, 85, 0.3);
  box-shadow: 20px 20px 0 rgba(255, 0, 85, 0.3);
  border-radius: 50px;
  position: relative;
  margin: auto;
}

.card h2 {
  color: #ef027cab;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(255, 0, 85, 0.3);
  box-shadow: 10px 10px 0 rgba(255, 0, 85, 0.3);
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid rgba(255, 0, 85, 0.3);
  box-shadow: 10px 10px 0 rgba(255, 0, 85, 0.3);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

/*-------------- Cat adoption page----------------------------------*/
.flex-box {
  width: 50%vw;
  height: 500px;
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 5px solid red; */
}

.inner-div {
  align-content: flex-start;
  margin-top: 5rem;
}

.inner-div img {
  border-radius: 50px;
  box-shadow: 20px 20px 0 rgba(255, 0, 85, 0.3);
}

.inner-div img:hover {
  animation: catpic 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes catpic {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(255, 57, 156, 0.507);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(255, 0, 85, 0.3);
  }
}
/*Special height Spacer fix on this page because of flexbox*/
/* .spacer__div__fix {
  height: 1000px;
} */

.inner-div p {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px #ef027cab;
}
/*---------------------Footer -------------------------------------*/
.spacer__div {
  height: 80px;
}

.footer__div {
  /*min-height: calc(100vh - 80px);*/
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  /* border: 1px solid red; */
}
footer {
  position: fixed;
  bottom: 0px;
  background-color: #f48498;
  min-height: 60px;
  width: 100vw;
}

.social__media {
  color: white;
  /* margin-left: 3px; */
}

footer p {
  /* text-align: center; */
  margin: 0;
  font-size: 2rem;
  /* margin-bottom: 1rem; */
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline;
  color: white;
}

.footer__div i {
  width: 6rem;
  /* height: auto; */
  margin-left: 1rem;
  margin-top: 0.4rem;
  font-size: 2rem;
  /* border: 1px solid red; */
}
/*----------------- Cat Adoption page 1---------------------------------*/
.cat__1 {
  margin-top: 5rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.cat__1__text p {
  margin: 2rem;
  width: 40rem;
  text-align: left;
}

.cat__1__text h3 {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}
/*----------------- Cat Adoption page 2---------------------------------*/

.cat__2 {
  margin-top: 5rem;
  display: flex;
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}
.cat__2 img {
  height: auto;
  width: 500px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 20px 20px 0 #ffd9ebbd;
}
.cat__2__text {
  display: flex;
  flex-direction: column;

  /* border: 1px solid red; */
}
.cat__2__text p {
  margin: auto;
  margin-top: 2rem;
  width: 40rem;
  text-align: center;
  background-color: #ffd9eb;
  box-shadow: 20px 20px 0 rgba(255, 0, 85, 0.3);
  padding: 2rem;
  border-radius: 50px;
}

.cat__2__text h2 {
  font-size: 3rem;
  margin: auto;
  margin-top: 2rem;
  color: #ef027d;
  font-family: Merienda one, sans-serif;
}

.cat__2__text h3 {
  font-size: 1.5rem;
  /* text-align: center; */
  margin: auto;
}

/*----------------- Cat Adoption page 3---------------------------------*/
.cat__3 {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cat__3 img {
  height: auto;
  width: 500px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 20px 20px 0 #ffd9ebbd;
}

.cat__3__text {
  display: flex;
  flex-direction: column;
}

.cat__3__text p {
  margin: auto;
  margin-top: 2rem;
  width: 40rem;
  text-align: center;
  background-color: #ffd9eb;
  box-shadow: 20px 20px 0 rgba(255, 0, 85, 0.3);
  padding: 2rem;
  border-radius: 50px;
}
.cat__3__text h2 {
  font-size: 3rem;
  margin: auto;
  margin-top: 2rem;
  color: #ef027d;
  font-family: Merienda one, sans-serif;
}

.cat__3__text h3 {
  font-size: 1.5rem;
  /* text-align: center; */
  margin: auto;
}
/*----------------- Cat Adoption page 4---------------------------------*/
.cat__4 {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cat__4 img {
  height: auto;
  width: 500px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 20px 20px 0 #ffd9ebbd;
}

.cat__4__text {
  display: flex;
  flex-direction: column;
}

.cat__4__text p {
  margin: auto;
  margin-top: 2rem;
  width: 40rem;
  text-align: center;
  background-color: #ffd9eb;
  box-shadow: 20px 20px 0 rgba(255, 0, 85, 0.3);
  padding: 2rem;
  border-radius: 50px;
}
.cat__4__text h2 {
  font-size: 3rem;
  margin: auto;
  margin-top: 2rem;
  color: #ef027d;
  font-family: Merienda one, sans-serif;
}

.cat__4__text h3 {
  font-size: 1.5rem;
  /* text-align: center; */
  margin: auto;
}
/*----------------- Cat Adoption page 5---------------------------------*/
.cat__5 {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cat__5 img {
  height: auto;
  width: 500px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 20px 20px 0 #ffd9ebbd;
}

.cat__5__text {
  display: flex;
  flex-direction: column;
}

.cat__5__text p {
  margin: auto;
  margin-top: 2rem;
  width: 40rem;
  text-align: center;
  background-color: #ffd9eb;
  box-shadow: 20px 20px 0 rgba(255, 0, 85, 0.3);
  padding: 2rem;
  border-radius: 50px;
}
.cat__5__text h2 {
  font-size: 3rem;
  margin: auto;
  margin-top: 2rem;
  color: #ef027d;
  font-family: Merienda one, sans-serif;
}

.cat__5__text h3 {
  font-size: 1.5rem;
  /* text-align: center; */
  margin: auto;
}
/*----------------- Cat Adoption page 6---------------------------------*/
.cat__6 {
  margin-top: 5rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.cat__6__text p {
  margin: 2rem;
  width: 40rem;
  text-align: left;
}

.cat__6__text h3 {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}
/* ------------- About Page ------------------------------- */
.about {
  margin: auto;
  margin-top: 2rem;
  width: 50vw;
  text-align: center;
  background-color: #ffd9eb;
  box-shadow: 20px 20px 0 rgba(255, 0, 85, 0.3);
  padding: 2rem;
  border-radius: 50px;
}

.about a {
  display: block;
  font-size: 2rem;
  margin-top: 1rem;
  color: #ef027d;
}
/*--------------Media Query resizing ----------------------------------*/

/*phones*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    width: 90vw;
  }
  .background__img__2 {
    width: 100vw;
    height: 50vh;
  }
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .background__img__2 {
    width: 100vw;
    height: 50vh;
  }
}

@media only screen and (min-width: 1024px) {
}
